.play-picto {
    background-color: black;
    width: 100%;
    height: 100%;
    clip-path: polygon(20% 20%, 80% 50%, 20% 80%);
}
.rec-picto {
    background-color: black;
    width: 100%;
    height: 100%;
    clip-path: circle(30%);
}
.stop-picto {
    background-color: black;
    width: 100%;
    height: 100%;
    clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
}
.pot-handle {
    background-color: black;
    width: 100%;
    height: 100%;
    clip-path: circle(35%);
}
.pot-cursor {
    background-color: orangered;
    width: 100%;
    height: 100%;
    clip-path: polygon(45% 60%, 55% 60%, 55% 90%, 45% 90%);
    transform: rotate(45deg);
}
.fader-handle {
    position: absolute;
    height: 15px;
    width: 100%;
    background-color: brown;
}