@import '../utils';

.container {
    height: 100%;
    @include flex(row);
}
#outline {
    width: $width;
    height: $height;
    background-color: $base-color;
    @include flex(column);
}
#steps {
    @include flex(row);
    height: 100px;
    width: 100%;
}
#panel {
    height: $height - $step-height;
    width: 100%;
    @include flex(row);
}
.step {
    width: $step-width;
    height: $step-height;
    @include bg-color($step-color);
}
.led {
    height: 10px;
    margin: 5px auto;
    clip-path: circle(5px);
    background-color: $led-color;
}
#left-panel, #right-panel {
    height: 100%;
    width: 25%;
    @include flex(column);
}
#mid-panel {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.track {
    width: 12.5%;
    height: 100%;
    @include flex(column);
}
.pot {
    height: 12.5%;
    width: 100%;
}
.fader {
    height: 40%;
    width: 100%;
    position: relative;
}
.select {
    height: 10%;
    width: 100%;
}
#tempo {
    height: 25%;
    width: 100%;
    @include flex(row);
}
#tempo-pot, #tempo-pot-fine {
    width: 50px;
    height: 50px
}
#tempo-display {
    width: 80px;
    height: 50px;
    color: red;
    font-family: "Segment7";
    font-size: 40px;
    text-align: right;
    user-select: none;
    background-color: black;
}
#groove {
    height: 50%;
    width: 100%;
}
#transport {
    height: 25%;
    width: 100%;
    @include flex(row);

}
#play, #rec, #stop {
    height: 50px;
    width: 50px;
}
#output, #sequence, #pattern {
    width: 100%;
}
#output, #pattern {
    width: 100%;
    height: 25%;
}
#sequence {
    width: 100%;
    height: 50%;
}
#pattern {
    display: flex;
    @include flex(row);
    flex-wrap: wrap;
    align-content: space-around;
}
.pattern-pad {
    width: 25%;
    height: 50%;
}
