* {
    box-sizing: border-box;
    --ratio: 1.6180339;
    --width: 900px;
    --height: calc(var(--width) / var(--ratio));
    --step-width: calc( (var(--width) / 16) - 10px);
    --step-height: calc(var(--step-width) * var(--ratio));

    --background-color: rgb(49, 49, 49);
    --base-color: lightgrey;

    --step-color: grey;
    --active-step-color: burlywood;

    --led-color: red;
    --active-led-color: yellow;

    --active-pattern-color: blueviolet;
    --select-active-color: yellow;
/*
    85,98,112
    78,205,196
    199,244,100
    255,107,107
    196,77,88
*/
}
html, body {
    height: 100%;
    background-color: var(--background-color);
    font-family: monospace;
    font-size: 30px;
    text-align: right;
}
.viz {
    border: 1px solid black;
}
.pot.viz {
    border: none;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    justify-content: center;
}
#outline {
    width: var(--width);
    height: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--base-color);
}
#steps {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 85px;
}
#panel {
    height: calc(100% - var(--step-height));
    display: flex;
    flex-direction: row;
}
.step {
    width: var(--step-width);
    height: var(--step-height);
    background-color: var(--step-color);
}
.step.active {
    background-color: var(--active-step-color);
}
.led {
    height: 10px;
    margin: 5px auto;
    clip-path: circle(5px);
    background-color: var(--led-color);
}
.led.active {
    background-color: var(--active-led-color);
}
#left-panel, #right-panel {
    height: 100%;
    width: 25%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#mid-panel {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.track {
    width: 12.5%;
    height: 100%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.pot {
    height: calc(50% / 4 - 3px);
    width: 100%;
}
.fader {
    height: calc(50% * 0.8 - 3px);
    width: 100%;
    position: relative;
}
.fader-handle {
    position: absolute;
    height: 15px;
    width: 100%;
    background-color: brown;
}
.select {
    height: calc(50% * 0.2 - 3px);
    width: 100%;
}
.select.active {
    background-color: var(--select-active-color);
}
#tempo {
    height: calc(25% - 2px);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#tempo-pot, #tempo-pot-fine {
    width: 50px;
    height: 50px
}
#tempo-display {
    width: 80px;
    height: 50px;
    color: red;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    user-select: none;
    background-color: black;
}
#groove {
    height: calc(50% - 2px);
    width: 100%;
}
#transport {
    height: calc(25% - 2px);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
#play, #rec, #stop {
    height: 50px;
    width: 50px;
}
#play.active {
    background-color: green;
}
#rec.active {
    background-color: red;
}
#output, #sequence, #pattern {
    width: 100%;
}
#output, #pattern {
    width: 100%;
    height: calc(25% - 2px);
}
#sequence {
    width: 100%;
    height: calc(50% - 2px);
}
#pattern {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.pattern-pad {
    width: 25%;
    height: 50%;
}
.pattern-pad.active {
    background-color: var(--active-pattern-color);
}
.play-picto {
    background-color: black;
    width: 100%;
    height: 100%;
    clip-path: polygon(20% 20%, 80% 50%, 20% 80%);
}
.rec-picto {
    background-color: black;
    width: 100%;
    height: 100%;
    clip-path: circle(30%);
}
.stop-picto {
    background-color: black;
    width: 100%;
    height: 100%;
    clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
}
.pot-handle {
    background-color: black;
    width: 100%;
    height: 100%;
    clip-path: circle(35%);
}
.pot-cursor {
    background-color: orangered;
    width: 100%;
    height: 100%;
    clip-path: polygon(45% 60%, 55% 60%, 55% 90%, 45% 90%);
    transform: rotate(45deg);
}
